@model ProyectoCalzadosEstrella.Models.Contacto

@{
    ViewData["Title"] = "Contáctanos";
}

<section id="catalogue" class="catalogue section-bg">

<div class="container">
    

<div class="text-center">

    <form asp-controller="Contact" asp-action="Index">
        

<div class="form-group formM">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control form-control-sm" type="text" placeholder="Escribe un nombre" aria-label=".form-control-sm" />
</div>
<div class="form-group formM">
        <label asp-for="Correo" class="control-label"></label>
        <input asp-for="Correo" class="form-control" />
</div>
<div class="form-group formM">
        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" />
</div>
<div class="form-group formM">
        <label asp-for="Comentarios" class="control-label"></label>
        <input asp-for="Comentarios" class="form-control" />
</div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Actualizar</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>
    <div>
        <a 
       class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
    </div>
</div>
</div>
</section>


